/*elements*/
body{min-width: 100vh;min-height: 100vh; margin: 0px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{margin: 0px;}
/*responsiveness*/
    /*mobile phones*/
    @media only screen and (max-width: 768px) {
        [class*="col-w-"] {
          min-width: 100%;
        }
    }
    /*desktop*/
    @media only screen and (min-width: 768px) {
        .col-w-1 {width: 8.33%;}
        .col-w-2 {width: 16.66%;}
        .col-w-3 {width: 25%;}
        .col-w-4 {width: 33.33%;}
        .col-w-5 {width: 41.66%;}
        .col-w-6 {width: 50%;}
        .col-w-7 {width: 58.33%;}
        .col-w-8 {width: 66.66%;}
        .col-w-9 {width: 75%;}
        .col-w-10 {width: 83.33%;}
        .col-w-11 {width: 91.66%;}
        .col-w-12 {width: 100%;}
    }
/*vars*/
:root{
    --yellow: #FFE800;
    --yellowL: #FFF15F;
    --dark: #050505;
    --gray: #555555;
}
/*flex*/
    /*flex-warp*/
    .flex{display: flex; flex-wrap: wrap;}
    .flex-nw{display: flex; flex-wrap: nowrap;}
    /*flex-direction*/
    .flex-row{flex-direction: row;}
    .flex-row-rev{flex-direction: row-reverse;}
    .flex-col{flex-direction: column;}
    .flex-col-rev{flex-direction: column-reverse;}


    /*justify-content*/
    .flex-x-center{justify-content: center;}
    .flex-x-start{justify-content: start;}
    .flex-x-end{justify-content: end;}
    .flex-x-between{justify-content: space-between;}
    .flex-x-around{justify-content: space-around;}
    .flex-x-evenly{justify-content: space-evenly;}
    /*align-items*/
    .flex-y-center{align-items: center;}
    .flex-y-start{align-items: flex-start;}
    .flex-y-end{align-items: flex-end;}
    .flex-y-stretch{align-items: stretch;}
    .flex-y-baseline{align-items: baseline;}
    /*align-content*/
    .flex-c-center{align-content: center;}
    .flex-c-start{align-content: flex-start;}
    .flex-c-end{align-content: flex-end;}
    .flex-c-stretch{align-content: stretch;}
    .flex-c-between{align-content: space-between;}
    .flex-c-around{align-content: space-around;}
    /*align-self*/
    .flex-si-auto {align-self: auto;}
    .flex-si-start {align-self: flex-start;}
    .flex-si-end {align-self: flex-end;}
    .flex-si-center {align-self: center;}
    .flex-si-baseline {align-self: baseline;}
    .flex-si-stretch {align-self: stretch;}
/*width*/
.w100{width: 100vw;}
/*heigth*/
.h100{height: 100vh;}
/*text*/
.uppc{text-transform: uppercase;}
.fz1{font-size: 1rem;}
.fz2{font-size: 2rem;}
.fz3{font-size: 3rem;}
.fz4{font-size: 4rem;}
.txtc{text-align: center;}
.tDNone{text-decoration: none;}
/*text color*/
.txtred{color: #FF0000;}
/*padding*/
.pa-1pc{padding: 1%;}
.pa-2pc{padding: 2%;}
/*background*/
.bg-header{background-color: var(--yellow);}
.bg-nav{background-color: var(--yellowL);}
/*logo*/
.logo{width: 100%; height: auto;}
/*link*/
.navlink{color: var(--dark); text-decoration: none; font-weight: 600;}
.navlink:hover{text-decoration: underline; color: var(--gray);}
/*animations*/
/*
@keyframes CamingRight{
    0% {position: relative; right: 100%;}
    85% {position: relative; right: -2%;}
    100% {position: relative; right: 0%;}
}
@keyframes CamingLeft{
    0% {position: relative; left: 100%;}
    85% {position: relative; left: -2%;}
    100% {position: relative; left: 0%;}
}
.aniNavBarR{animation-name: CamingRight; animation-duration: 1.5s; animation-timing-function: cubic-bezier(100%,100%,70%,30%);}
.aniNavBarL{animation-name: CamingLeft; animation-duration: 1.5s; animation-timing-function: cubic-bezier(100%,100%,70%,30%);}