/*elements*/
html{overflow-x: hidden;}
body{min-width: 100vh;min-height: 100vh; margin: 0px; font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{margin: 0px;}
/*responsiveness*/
    /*mobile phones*/
    @media only screen and (max-width: 768px) {
        [class*="col-w-"] {
          min-width: 100%;
        }
    }
    /*desktop*/
    @media only screen and (min-width: 768px) {
        .col-w-1 {width: 8.33%;}
        .col-w-2 {width: 16.66%;}
        .col-w-3 {width: 25%;}
        .col-w-4 {width: 33.33%;}
        .col-w-5 {width: 41.66%;}
        .col-w-6 {width: 50%;}
        .col-w-7 {width: 58.33%;}
        .col-w-8 {width: 66.66%;}
        .col-w-9 {width: 75%;}
        .col-w-10 {width: 83.33%;}
        .col-w-11 {width: 91.66%;}
        .col-w-12 {width: 100%;}
    }
        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}

/*vars*/
:root{
    --yellow: #FFE800;
    --lgYellow: #FFF15F;
    --dark: #050505;
    --gray: #555555;
    --lgGray: #999999;
    --hdWhite: #e0e0e0;
    --hdrWhite: #d6d6d6;
    --white: #FFFFFF;
    --lgAqua: #50D8D8;
    --aqua: #00CDCD;
    --hdAqua: #009F9F;
    --red: #FF0000;
    --hdRed: #C80000;

}
/*diplay*/
.displayBk{display: block;}
.displayBt{display: contents;}
.displayIl{display: inline;}
/*flex*/
    /*flex-warp*/
    .flex{display: flex!important; flex-wrap: wrap!important;}
    .flex-nw{display: flex!important; flex-wrap: nowrap!important;}
    /*flex-direction*/
    .flex-row{flex-direction: row;}
    .flex-row-rev{flex-direction: row-reverse;}
    .flex-col{flex-direction: column;}
    .flex-col-rev{flex-direction: column-reverse;}


    /*justify-content*/
    .flex-x-center{justify-content: center;}
    .flex-x-start{justify-content: start;}
    .flex-x-end{justify-content: end;}
    .flex-x-between{justify-content: space-between;}
    .flex-x-around{justify-content: space-around;}
    .flex-x-evenly{justify-content: space-evenly;}
    /*align-items*/
    .flex-y-center{align-items: center;}
    .flex-y-start{align-items: flex-start;}
    .flex-y-end{align-items: flex-end;}
    .flex-y-stretch{align-items: stretch;}
    .flex-y-baseline{align-items: baseline;}
    /*align-content*/
    .flex-c-center{align-content: center;}
    .flex-c-start{align-content: flex-start;}
    .flex-c-end{align-content: flex-end;}
    .flex-c-stretch{align-content: stretch;}
    .flex-c-between{align-content: space-between;}
    .flex-c-around{align-content: space-around;}
    /*align-self*/
    .flex-si-auto {align-self: auto;}
    .flex-si-start {align-self: flex-start;}
    .flex-si-end {align-self: flex-end;}
    .flex-si-center {align-self: center;}
    .flex-si-baseline {align-self: baseline;}
    .flex-si-stretch {align-self: stretch;}
/*width*/
.wMax40vw{max-width: 40vw;}
.wMax30vw{max-width: 30vw;}
/*heigth*/
.h100pc{height: 100%;}
.hAuto{height: auto;}
/*text*/
.uppc{text-transform: uppercase;}
.fz05{font-size: 0.5rem;}
.fz075{font-size: 0.75rem;}
.fz1{font-size: 1rem;}
.fz2{font-size: 2rem;}
.fz3{font-size: 3rem;}
.fz4{font-size: 4rem;}
.txtc{text-align: center;}
.tDNone{text-decoration: none;}
/*position*/
.positionRl{position: relative;}
.positionFx{position: fixed;}
.positionAb{position: absolute;}
.positionSt{position: static;}
.positionStc{position: sticky;}
/*text color*/
.textDark{color: var(--dark);}
.txtRed{color: var(--red);}
.txtHdRed{color: var(--hdRed);}
/*padding*/
.pa-1pc{padding: 1%;}
.pa-2pc{padding: 2%;}
.prl-1pc{  padding-top: 0%; padding-right: 1%; padding-bottom: 0%; padding-left: 1%;}
.pa-1pc-b{padding: 1%; padding-bottom: 0%;}
/*margin*/
.ma-0pc{margin: 0% !important;}
.mt-2vh{margin-top: 2vh;}
.ma-1pc{margin: 1%;}
.ma-2pc{margin: 2%;}
.mb-1pc{margin-bottom: 1%;}
.mb-2pc{margin-bottom: 2%;}
/*border*/
.bord-card{border-style: solid; border-color: var(--hdrWhite); border-radius: 5px; border-width: 2px;}
.bord-line{border-style: solid; border-color: var(--lgGray); border-width: 1px; margin-top: 2px; margin-bottom: 2px;}
/*background*/
.bg-body{background-color: var(--hdWhite);}
.bg-header{background-color: var(--yellow);}
.bg-nav{background-color: var(--lgYellow); box-shadow: 4px 0px 6px var(--lgYellow);}
.bg-card{background-color: var(--white);}
/*image*/
.img-card{width: 100%; object-fit: cover; border-radius: 5px; height: 30vh; }
/*link*/
.navlink{color: var(--dark); text-decoration: underline; font-weight: 600;}
.navlink:hover{color: var(--gray);}
.iconLink{color: var(--gray);}
.iconLink:hover{color: var(--lgGray);}
.cardTLink{color: var(--gray);}
.cardTLink:hover{color: var(--hdAqua); text-decoration: none;}

/*buttons*/
.bt-about{background-color: transparent;color: var(--hdAqua); border-style: solid; border-radius: 5px; border-color: var(--hdAqua);border-width: 2px; padding: 3%;}
.bt-about:hover{background-color: var(--aqua); color: var(--dark); border-color: var(--hdAqua);}
.bt-add-cart{background-color: transparent;color: var(--hdRed); border-style: solid; border-radius: 5px; border-color: var(--hdRed);border-width: 2px; padding: 3%;}
.bt-add-cart:hover{background-color: var(--red); color: var(--dark); border-color: var(--dark);}
/*overflow*/
.txt-overF-PN{height: 2.55rem; overflow: hidden; word-break: break-word;}
/*dropdown*/
@media only screen and (max-width: 768px) {
    .dropdown-cont {display: none; position: absolute; background-color: var(--white); padding: 0.5%; z-index: 1; border-color: var(--hdAqua); border-radius: 3px; border-width: 4px; border-style: double; max-width: 80vw; min-width: 30vw; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-color: var(--aqua);}
}
@media only screen and (min-width: 768px) {
    .dropdown-cont {display: none; position: absolute; background-color: var(--white); padding: 0.5%; z-index: 1; border-color: var(--hdAqua); border-radius: 3px; border-width: 4px; border-style: double; max-width: 30vw; text-decoration-line: underline; text-decoration-style: wavy; text-decoration-color: var(--aqua);}
}
.dropdown:hover ~ .dropdown-cont {display: block;}
/*animations*/
@keyframes CamingRight{
    0% {position: relative; right: 100%;}
    85% {position: relative; right: -2%;}
    100% {position: relative; right: 0%;}
}
@keyframes CamingLeft{
    0% {position: relative; left: 100%;}
    85% {position: relative; left: -2%;}
    100% {position: relative; left: 0%;}
}
.aniNavBarR{animation-name: CamingRight; animation-duration: 1.5s; animation-timing-function: cubic-bezier(100%,100%,70%,30%);}
.aniNavBarL{animation-name: CamingLeft; animation-duration: 1.5s; animation-timing-function: cubic-bezier(100%,100%,70%,30%);}